html 
    head 
        title=pageTitle 
    body 
        h1='LOGIN'
        //- if message.error
        //-     h2=message.error
        form(action='/login', method='post')
            label(for='username') username
            input#username(type='text', name='username', placeholder='username')
            label(for='password') password
            input#password(type='password', name='password')
            input(type="submit")
        button(type="submit")
            a(href='/')='home'
        button(type="submit")
            a(href='/register')='register'
